/*

Flatrok LESS Layout and Light Theme - Green
Author: Chris Brame
Version: 1.0
Date: Nov 18th, 2013

*/
body {
  color: #878787;
  background: #e2e2e2;
  background: url('../images/honeycomb.png') repeat;
}
a,
a:visited {
  color: #4ae2b1;
}
a:active,
a:visited:active,
a:hover,
a:visited:hover {
  color: #15e26b;
}
.social-links.social-footer ul li a {
  color: #ffffff;
}
.social-links.social-footer ul li a:active,
.social-links.social-footer ul li a:hover {
  color: #e2e2e2;
}
@media (max-width: 768px) {
  .social-links {
    background: #f6f6f6;
  }
}
.social-links ul li a {
  color: #878787;
}
.social-links ul li a:hover,
.social-links ul li a:active {
  color: #FFFFFF;
}
.page-body {
  background: #f6f6f6;
}
.page-head .tagline {
  color: #414141;
}
.page-head .tagline span {
  color: #878787;
}
.page-head .tagline span:before {
  color: #878787;
}
.page-head .tagline span:after {
  color: #878787;
}
.page-head .jobtag span {
  background: #4ae2b1;
  color: #FFFFFF;
}
.page-head .profile-bg {
  background: #4ae2b1 !important;
}
.page-head .resume-bg {
  background: #4ae2b1 !important;
}
.page-head .portfolio-bg {
  background: #4ae2b1 !important;
}
.page-head .contact-bg {
  background: #4ae2b1 !important;
}
.page-head .nav-bar ul li.nav-item {
  background: #4ae2b1;
}
.page-head .nav-bar ul li.nav-item a {
  color: white;
}
.page-head .nav-bar ul li.nav-item a:hover {
  text-decoration: none;
}
#profile h2,
#profile h3 {
  color: #4ae2b1;
}
#profile .profile-information {
  color: #878787;
}
#profile .profile-information .item span {
  font-weight: bold;
  color: #7c7c7c;
}
#profile .profile-skills .skill-item {
  color: #7c7c7c;
}
#profile .profile-skills .skill-item h5 {
  color: #414141;
}
ul.progress-bubbles li {
  background: #e2e2e2;
}
ul.progress-bubbles li.filled-bg {
  background: #4ae2b1;
}
#resume h2,
#resume h3,
#resume h5 {
  color: #4ae2b1;
}
#resume .resume-edu {
  border-left: 3px solid #e2e2e2;
}
#resume .timeline-item .timeline-title {
  color: #414141;
}
#resume .timeline-item .date {
  color: #fff;
}
#resume .timeline-item .date span {
  background: #4ae2b1;
}
#resume .timeline-item .date .dot {
  background: #4ae2b1;
}
#resume .resume-work {
  border-left: 3px solid #e2e2e2;
}
#resume .experience-item p {
  color: #414141;
}
#resume .other-experience ul.tag-area li {
  background: #4ae2b1;
}
#portfolio h1,
#portfolio h2,
#portfolio h3,
#portfolio h4,
#portfolio h5,
#portfolio h6 {
  color: #4ae2b1;
}
#portfolio #portfolio-container .portfolio-hover-box {
  background: #4ae2b1;
}
ul.tag-area li {
  background: #4ae2b1;
  color: #ffffff;
}
.progress-bar-experience {
  background-color: #4ae2b1;
}
.progress {
  background-color: #e2e2e2;
}
.portfolio-menu li {
  color: #4ae2b1;
}
.portfolio-menu li.hover,
.portfolio-menu li.active {
  background-color: #4ae2b1;
}
.portfolio-menu li a {
  color: #4ae2b1;
}
#contact h1,
#contact h2,
#contact h3,
#contact h4,
#contact h5,
#contact h6 {
  color: #4ae2b1;
}
#contact .contact-info {
  border-right: 5px solid #e2e2e2;
}
#contact i {
  color: #4ae2b1;
}
#contact p span {
  color: #414141;
}
#contact .contact-btn {
  background-color: #4ae2b1;
}
.footer {
  background-color: #4ae2b1;
  color: white;
}
.footer a:hover {
  color: #ffffff;
}
@media all {
  ::selection {
    color: #ffffff;
    background: #4ae2b1;
  }
}
